nav{
    background-color: #091031;
    margin:0 auto;
    max-width:1200px;
    border-radius:10px;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color:#fff;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
}

nav a:hover {
    border: 1px solid aqua;
    color:aqua;
    border-radius: 10px;
}
header {
    background-color: #36458f;
    color: #fff;
    padding: 0rem;
    text-align: center;
    margin: -21px;
}

img {
    height: 400px;
    width: 350px;
    margin-left:450px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #36458f;
}

.card {
    border: 2px solid #36458f;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.dream {
    border: 2px solid #36458f;
    background-color: #36458f;
    padding: 10px;
    margin-bottom: auto;
    margin-left: -21px;
    margin-right: -21px;
    border-radius: 10px;
    color:#fff;
}

.about {
    border: 2px solid #36458f;
    background-color: #36458f;
    padding: 10px;
    margin-top: -21px;
    margin-bottom: auto;
    margin-left: -21px;
    margin-right: -21px;
    border-radius: 10px;
    color:#fff;
}

.motivation {
    border: 2px solid #36458f;
    background-color: #36458f;
    padding: 10px;
    margin-top: -21px;
    margin-bottom: auto;
    margin-left: -21px;
    margin-right: -21px;
    border-radius: 10px;
    color:#fff;
}

footer{
    background-color: #36458f;
    color: #fff;
    padding: 0rem;
    text-align: center;
    margin: -21px;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav ul li{
        flex:1 1 100%
    }
}
