@media (min-width: 32rem) {
    :root {
        --primary-color: #fdba00;
        --secondary-color: #f76605;
        --background-color: #f4f4f4;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--background-color);
    }

    header {
        background: var(--primary-color);
        color: white;
        text-align: center;
        padding: 1rem;
    }

    .hero {
        position: relative;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    main {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .data, .weather {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5); /* Increased transparency */
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .data {
        top: 20px;
        left: 20px;
        width: 45%;
    }

    .weather {
        top: 20px;
        right: 20px;
        width: 45%;
    }

    .weather .icon {
        display: none;
    }

    .weather h2::after {
        content: '⛅';
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }

    footer {
        background: var(--primary-color);
        color: white;
        text-align: center;
        padding: 1rem;
    }
}






